@model IEnumerable<Professional>
@{
    ViewData["Title"] = "Profissionais ";
    Layout = "_LayoutAdmin";
}

<h2>
	Profissionais
	<a href="@Url.Action("Add", "Professional")" class="btn btn-success pull-right">Criar Novo</a>
</h2>

<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Nome</th>
			<th>CPF</th>
            <th>Tipo</th>
			<th>Contato</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
				<td>@item.CPF</td>
                <td>@item.type</td>
				<td>@item.credentials.email</td>
                <td><a class="btn btn-success" href="@Url.Action("Details", "Professional", new { professionalId = item.id })" >Detalhes</a></td>
            </tr>
        }
    </table>
</div>