@using VolunteeringSystem.Domain
@model Administrator
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Detalhes do Administrador";
}

<h2>Detalhes do Administrador</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <a class="pull-right" href="@Url.Action("List", "Admin")">Voltar</a>
        <div class="row">
            <div class="col-md-6">
                <h4>Dados do Voluntário</h4>
                <p><b>Nome:</b> @Model.name</p>
                <p><b>CPF:</b> @Model.CPF</p>
                <p><b>Sexo:</b> @Model.sex.GetString()</p>
                <p><b>Data de Nascimento:</b> @Model.birthDate.ToShortDateString()</p>
				<p><b>E-mail:</b> @Model.credentials.email</p>
                <br/>
            </div>
        </div>
    </div>
</div>