@model VolunteeringSystem.Models.Volunteer
@{
	Layout = "_LayoutAdmin";
	ViewData["Title"] = "Aprovar Voluntário";
}
<h2>Aprovar Voluntário</h2>

<div class="panel panel-default">
	<div class="panel-heading">@Model.name</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<h4>Dados do Voluntário</h4>
				<p><b>CPF:</b> @Model.CPF</p>
				<p><b>Telefone:</b> @Model.phone</p>
				<p><b>Sexo:</b> @Model.sex</p>
				<p><b>Data de Nascimento:</b> @Model.birthDate.ToShortDateString()</p>
				<p><b>Profissão:</b> @Model.profession</p>
				<p><b>Endereço:</b> @Model.address</p>
				<p><b>Profissão:</b> @Model.profession</p>
				<br />
			</div>
			<div class="col-md-6 text-center">
				<img class="img-responsive img-circle" src="https://avatars2.githubusercontent.com/u/20523258?s=460&v=4" style="max-height: 250px; margin: 0 auto;" />
			</div>
		</div>
		@if (Model.status == VolunteerStatus.Waiting)
		{
			<div class="row">
				<div class="col-md-6">
					<form method="post">
						<div class="form-group">
							<label>Aprovar:</label>
							<input type="hidden" name="volunteerId" value="@Model.id" />
							<select class="form-control" name="newStatus">
								<option value="1"> Sim, desejo aprovar este voluntário.</option>
								<option value="2"> Não, desejo bloquear este voluntário.</option>
							</select>
						</div>
						<div class="text-right">
							<a class="btn btn-danger" href="@Url.Action("List", "Volunteer", new { status = Model.status })">Voltar</a>
							<button type="submit" class="btn btn-success">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		}
	</div>
</div>