@model IEnumerable<Kid>
@{
    ViewData["Title"] = "Crianças " + ViewBag.Status;
    Layout = "_LayoutAdmin";
}

<h2>Crianças
    <a href="@Url.Action("Add", "Kid")" class="btn btn-success pull-right">Criar Nova</a>
</h2>

<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Nascimento</th>
            <th>Disponibilidade</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.sex</td>
                <td>@item.birthDate</td>
                <td>@item.availability</td>
            </tr>
        }
    </table>
</div>