@using VolunteeringSystem.Domain
@model Event
@{
    Layout = "_LayoutVolunteer";
    ViewData["Title"] = "Display";
}

@switch (Model.status)
{
    case EventStatus.Approved:
        <h2>Evento Aprovado</h2>
        ;
        break;
    case EventStatus.Rejected:
        <h2>Evento Bloqueado</h2>
        ;
        break;
    case EventStatus.Waiting:
        <h2>Homologar Evento</h2>
        ;
        break;
}

<div class="panel panel-default">
    <div class="panel-heading">Evento criado por @Model.volunteer.name</div>
    <script>if</script>
    <div class="panel-body">
        <div class="col-md-6">
            <h4>Dados do Evento</h4>
            <p>
                <b>Grupo:</b> @Model.ageGroup.label
            </p>
            <p>
                <b>Descrição:</b> @Model.description
            </p>
            <p>
                <b>Limite de Crianças:</b> @Model.kidLimit
            </p>
            <p>
                <b>Data:</b> @Model.date.ToShortDateString()
            </p>
            <p>
                <b>Criado em:</b> @Model.creationDate
            </p>
            @if (Model.status == EventStatus.Rejected)
            {
                <p>
                    <b>Justificativa:</b> @Model.justification
                </p>
            }
            @if (Model.status == EventStatus.Finished && Model.grade != null)
            {
                <p>
                    <b>Nota:</b> @Model.grade
                </p>
                <p>
                    <b>Comentário:</b> @Model.comment
                </p>
            }
        </div>
        <div class="col-md-6">
            <h4>Dados do Voluntário</h4>
            <p>
                <b>CPF:</b> @Model.volunteer.CPF
            </p>
            <p>
                <b>Nome:</b> @Model.volunteer.name
            </p>
            <p>
                <b>Sexo:</b> @Model.volunteer.sex.GetString()
            </p>
            <p>
                <b>Data de Nascimento:</b> @Model.volunteer.birthDate.ToShortDateString()
            </p>
            <p>
                <b>Profissão:</b> @Model.volunteer.profession
            </p>
            <p>
                <b>Endereço:</b> @Model.volunteer.address
            </p>
            <p>
                <b>Telefone:</b> @Model.volunteer.phone
            </p>
        </div>
    </div>
</div>