@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
		<div class="item active" style="max-height: 400px;">
			<img src="~/images/migration.jpg" class="img-responsive" />
			<div class="carousel-caption" role="option">
				<p>
					Gostaria de ajudar crianças de orfanatos mas não sabe como? Nós ajudaremos.
				</p>
				<a class="btn btn-default" href="@Url.Action("Register", "Volunteer")">
					Cadastre-se e Participe!
				</a>
			</div>
		</div>
        <div class="item" style="max-height: 400px;">
            <img src="~/images/girls.jpg"	class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Realize trabalhos voluntários e traga mais alegria para a vida das crianças
                </p>
				<a class="btn btn-default" href="@Url.Action("Register", "Volunteer")">
					Cadastre-se e Participe!
				</a>
            </div>
        </div>
        <div class="item" style="max-height: 400px;">
            <img src="~/images/michelangelo.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
					Crianças em orfanatos têm poucas oportunidades de ter atenção dedicada a elas e
					de conhecer adultos que não sejam os funcionários do local.
                </p>
				<a class="btn btn-default" href="@Url.Action("Register", "Volunteer")">
					Cadastre-se e Participe!
				</a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acesse seu perfil</h2>
		<div class="text-center">
			<a class="btn btn-default" href="@Url.Action("Register", "Volunteer")">
				Cadastre-se
			</a><br /><br />
			ou<br /><br />
			<a class="btn btn-default" href="@Url.Action("Login", "Volunteer")">
				Faça seu login
			</a>
		</div>
    </div>
	<div class="col-md-4">
		<h2>Como funciona?</h2>
		<p>
			<b>Passo 1: </b>Cadastre-se no sistema <a href="@Url.Action("Register", "Volunteer")">clicando aqui</a>, você será avisado assim que seu cadastro for aprovado por nossos administradores.
		</p>
		<p>
			<b>Passo 2: </b>Acesse seu perfil e crie eventos sugerindo atividades a serem realizadas com um grupo de crianças nos quais você será o responsável por coordenar a atividade.
		</p>
		<p>
			<b>Passo 3: </b>Aguarde a homologação de seu evento, após ser aprovado entraremos em contato com você para acertar os detalhes.
		</p>
	</div>
    <div class="col-md-4">
        <h2>Quem somos?</h2>
        <p>
			Trabalhamos para ajudar a organizar eventos com crianças que vivem em orfanatos. Através desse sistema visamos aproximar pessoas que querem ajudar e propôr atividades de educação e entretenimento com crianças carentes e não sabem como proceder.
		</p>
    </div>
</div>
